/* 전체 */
body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400; /* 글자 굵기 */
    line_height: 1.6; /* 줄간격 */
    background-color: #f9f9f9;
    text-align: center;
}

header {
    background-color: rgb(163, 204, 163);
    padding: 40px 20px;
    display: flex; /* 화면 크기에 따른 자동 비율 조정 */
    justify-content: center; /* 가로방향 가운데 정렬 */
    align-items: center; /* 세로방향 가운데 정렬 */
    height: 200px;
}

.header-content {
    text-align: center;
}

h1 {
    font-family: Pretendard, sans-serif;
    color: black;
    margin: 0;
    font-size: 32px;
    margin-bottom: 50px;
}

h2 {
    font-family: Pretendard, sans-serif;
    color: rgb(105, 105, 105);
    margin: 10px 0 0;
    font-size: 22px;
}

/* 프로젝트 목록 전체 */
.projects {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; /* 자동 줄바꿈 */
    gap: 30px; /* 아이템 사이 간격 30px */
    margin-top: 30px;
}

/* 프로젝트 목록 개별 */
.project {
    text-align: center;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 위로 4픽셀 이동 & 8px 흐림 & 색깔 Black & 투명도 10% */
    transition: transform 0.2s; /* 즉시 변하지 않고 0.2초 동안 서서히 변함 */
    width: 250px;
}

.project:hover {
    transform: translateY(-5px); /* 위로 5픽셀 이동 */
}

.project img {
    width: 100%;
    height: auto;
    max-height: 180px;
    object-fit: contain; /* 사진 잘리지 않게 */
    border-radius: 5px; /* 테두리 둥글게 */
    margin-bottom: 15px;
}

.project a {
    display: block; /* 버튼을 블럭으로 만들어 간격 적용 */
}

button {
    background-color: rgb(124, 181, 223);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer; /* 마우스 올리면 커서 변경 */
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s; /* 배경색 변경 0.3초 */
    margin-top: 10px;
}
